html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.content {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 20px;
    color: #000;
    background-color: #c8d6e5;
    text-align: center;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
}

.darkContent {
    color: #fff;
    background-color: #222f3e;
}