.tableContainer {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;

}

.table__cell {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #e5eaf0;
    padding: 10px;
}

.table__cell:hover {
    background-color: #acb8c4;
}

.table__cell--header {
    background-color: #8395a7;
    font-weight: bold;
}